<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Dashboard | MealMatch</title>
    <link rel="stylesheet" href="styles/recepeint_home.css">
</head>
<body>
    <nav>
        <div class="nav-content">
            <div class="logo">MealMatch</div>
            <div class="profile-menu">
                <div class="profile-icon"><a href="#">👤</a></div>
                <div class="logout"><a href="#">Log Out</a></div>  
            </div>
        </div>
    </nav>
    
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <ul>
                <li><a href="/recipient">Home</a></li>
                <li><a href="/recipient-request">Accepted Requests</a></li>
                
            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <div class="home-section">
                <h2 class="tc">Welcome to MealMatch</h2>
                <p>Access nutritious meals and support sustainability.</p>
                <a href="/recipient-form" class="action-button">Explore Donors</a>
            </div>
        </div>
    </div>
</body>
</html>